@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  background-color: rgb(211, 248, 156);
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .logo {
  padding: 25px 30px 25px 0;
  font-weight: bold;
  font-size: 3em;
  color: rgb(94, 86, 16);
}
.menu .fa-bars {
  display: none;
}
.menu ul {
  text-align: end;
  list-style-type: none;
  margin: 20px 0 20px 0;
}
.menu ul li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
.menu ul li a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(199, 160, 110);
}
.menu ul li a:hover {
  color: rgb(240, 230, 147);
}

@media (max-width: 767px) {
  .menu .fa-bars {
    display: block;
    text-align: end;
    font-size: 50px;
    padding: 5px;
    margin: 32px 0;
    color: rgb(199, 160, 110);
  }
  .menu ul {
    right: -350px;
    top: 0;
    position: fixed;
    background: antiquewhite;
    font-size: 50px;
    width: 250px;
    height: 100vh;
    z-index: 5;
    flex-direction: column;
    justify-content: start;
    transition: 0.5s;
  }
  .menu .fa-bars:hover + ul {
    right: 0;
  }
  .menu ul:hover {
    right: 0;
  }
}
.pie {
  width: 100%;
  height: 200px;
  background-color: rgb(211, 248, 156);
  padding: 50px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.texto-footer {
  color: rgb(199, 160, 110);
  font-family: "Nunito", sans-serif;
}
.texto-footer span {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.logos {
  width: 50%;
}
@media (max-width: 767px) {
  .pie {
    padding: 20px 10px;
    flex-direction: column;
  }
  .pie .logos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie .texto-footer {
    width: 100%;
    flex-direction: center;
  }
  .pie .texto-footer span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }
}
.consultorio-container .notas {
  display: none;
}
.consultorio-container .imagen-modelo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
.consultorio-container .imagen-modelo img {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 768px) {
  .consultorio-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-area: auto;
  }
  .consultorio-container .imagen-modelo {
    height: 100vh;
    margin-left: 140px;
    margin-right: 150px;
  }
  .consultorio-container .notas {
    display: flex;
    background-color: antiquewhite;
    margin: 40px;
    padding: 20px;
  }
  .consultorio-container .notas p {
    text-align: center;
    justify-content: center;
  }
}
.mein p {
  font-family: "Nunito", sans-serif;
}

.textoturnos {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

label {
  margin-top: 15px;
  font-family: "Nunito", sans-serif;
  color: #888888;
}

input[type=text] {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=email] {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  width: 50%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: rgb(155, 194, 97);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

@media (max-width: 767px) {
  input[type=text] {
    width: 100%;
    padding: 5px 10px;
  }
  input[type=email] {
    width: 100%;
    padding: 5px 10px;
  }
  textarea {
    width: 100%;
    padding: 10px;
  }
}
article {
  margin: 30px;
  padding: 5px;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: auto;
  grid-gap: 5px;
}
.contenedor div {
  margin: 20px;
  padding: 20px;
}
.contenedor .textsoy {
  background-color: rgb(250, 235, 215);
  text-align: justify;
}
.contenedor .textpaciente {
  background-color: rgb(250, 235, 215);
  text-align: justify;
}

@media (max-width: 767px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: auto;
    grid-gap: 5px;
  }
}
.contenedor img {
  width: 100%;
}

.logos .instagram, .logos .facebook, .logos .whatsapp {
  width: 45px;
  margin: 10px;
}

.mein1 button {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px 0 20px 0;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: rgb(54, 51, 51);
  background-color: rgb(211, 248, 156);
}

.mein1 {
  background-color: rgb(245, 245, 245);
  font-family: "Nunito", sans-serif;
}
.mein1 h2 {
  font-size: 2.7em;
}
.mein1 h3 {
  font-size: 2em;
}
.mein1 ul {
  list-style: none;
  margin-bottom: 0;
}
.mein1 ul li {
  font-size: 1.5em;
}
.mein1 button:hover {
  background-color: rgb(173, 243, 68);
}
.mein1 #nutri-ye .container {
  display: flex;
}
.mein1 #nutri-ye .container .textonu {
  width: 50%;
  text-align: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mein1 #nutri-ye .container .coloress {
  color: rgb(173, 243, 68);
}
.mein1 #nutri-ye .container .img-container {
  background-image: url("../multimedia/img/lay-flat-delicioso-concepto-comida-sana.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 400px;
  margin: 20px;
}
.mein1 #nuestros-tips {
  background-color: rgb(211, 248, 156);
  color: rgb(255, 255, 255);
}
.mein1 #nuestros-tips .container {
  text-align: center;
  padding: 150px 12px 100px;
}
.mein1 #nuestros-tips .container h2 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  #nuestros-tips p {
    display: none;
  }
  .nutritips .tarjetas1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/img/tarjetas/nutricion-salud.jpg");
    background-position: center center;
    background-size: cover;
    margin: 15px;
    border-radius: 15px;
  }
  .nutritips .tarjetas1 h3 {
    padding: 10px;
  }
  .nutritips .tarjetas2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/img/tarjetas/nutricion-ayurveda.jpg");
    background-position: center center;
    background-size: cover;
    margin: 15px;
    border-radius: 15px;
  }
  .nutritips .tarjetas2 h3 {
    padding: 10px;
  }
  .nutritips .tarjetas3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/img/tarjetas/recetario.jpg");
    background-position: center center;
    background-size: cover;
    margin: 15px;
    border-radius: 15px;
  }
  .nutritips .tarjetas3 h3 {
    padding: 10px;
  }
  #caracteristicas .container {
    text-align: center;
  }
  #caracteristicas .container li {
    margin: 12px 0px 0px;
    font-weight: bold;
  }
  #nutri-ye .container {
    padding: 200px 20px;
  }
  #nutri-ye .container .textonu p {
    text-align: center;
    padding: 5px;
    margin: 5px;
  }
  #nutri-ye .container .img-container {
    border-radius: 40px;
  }
}
@media (min-width: 768px) {
  #nuestros-tips .container .nutritips {
    display: flex;
    justify-content: center;
  }
  #nuestros-tips .container .nutritips p {
    text-align: justify;
  }
  #nuestros-tips .container .nutritips .tarjetas1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/img/tarjetas/nutricion-salud.jpg");
    padding: 50px;
    background-size: 100% 110px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgb(85, 121, 38);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
    border-radius: 15px;
  }
  #nuestros-tips .container .nutritips .tarjetas1 h3 {
    padding: 10px;
  }
  #nuestros-tips .container .nutritips .tarjetas2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/img/tarjetas/nutricion-ayurveda.jpg");
    padding: 50px;
    background-size: 100% 110px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgb(85, 121, 38);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
    border-radius: 15px;
  }
  #nuestros-tips .container .nutritips .tarjetas2 h3 {
    padding-bottom: 24px;
    font-size: 1.4em;
  }
  #nuestros-tips .container .nutritips .tarjetas3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/img/tarjetas/recetario.jpg");
    padding: 50px;
    background-size: 100% 110px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgb(85, 121, 38);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
    border-radius: 15px;
  }
  #nuestros-tips .container .nutritips .tarjetas3 h3 {
    padding-bottom: 24px;
    font-size: 1.4em;
  }
  #nuestros-tips .container .nutritips p {
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 15px;
  }
  #caracteristicas {
    padding: 250px;
    background-image: url("../multimedia/img/perseverancia.jpg");
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: calc(90vw - 500px) 120px;
  }
}
/*inicia el mainnnnnnn*/
.mein {
  background-color: rgb(245, 245, 245);
}

.titulo {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding: 20px;
}

.textoc {
  width: 400px;
  background-color: rgb(252, 246, 239);
  margin: 20px auto;
  padding: 40px 10px;
  text-align: center;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .row {
    position: relative;
  }
  .mein {
    padding-bottom: 50px;
  }
}
.img-fluid.img-thumbnail {
  width: 100%;
}

/*# sourceMappingURL=estilos.css.map */
