.consultorio-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-area: auto;
    grid-gap: 10px;
    h2{
        font-family: 'Archivo Black', sans-serif;
    }
    h3{
        font-family: 'Chivo Mono', monospace;
    }
    p{
        font-family: 'Nunito', sans-serif;
    }

    .principal{
        img{
            margin:20px 20px 20px 0px;
            width: 65%;
        }
        
        p{
            margin-bottom: 20px;
        }
    }

    .costado{
        margin: 28px;
        padding: 15px;
        background-color: antiquewhite;
        ul{
            list-style: none;
            padding: 0;

        }
    }
}

@media (max-width: 767px) {
    .consultorio-container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        .principal{
            img{
                width: 100%;
                margin: 15px;
            }
        }
        .costado{
            display: none;
        }
    }
}





