%socialmedia {
    width: 45px;
    margin: 10px;
}

%boton {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px 0 20px 0;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(54, 51, 51);
    background-color: rgb(211, 248, 156);
    
}

%tarjetas {
    background-color: bisque;
    margin: 15px;
}

%boton2 {
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(54, 51, 51);
    background-color: rgb(211, 248, 156);
    
}