.mein1 {
    background-color: rgb(245, 245, 245);
    
    font-family: 'Nunito', sans-serif;

    h2{
        font-size: 2.7em;
    }
    h3{
        font-size: 2em;
    }
    ul{
        list-style: none;
        margin-bottom: 0;
        li{
            font-size: 1.5em;
        }
        
    
    }


    button {
        @extend %boton;
        &:hover{
            background-color: rgb(173, 243, 68);
        }
    }

    #nutri-ye{
        .contenedor{

            .textonu{
                text-align: initial;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .coloress{
                color:rgb(173, 243, 68);
            }
            .img-container{
                img{
                    width: 100%;
                    margin: 20px;
                }
            }
        }
    }
    
    #nuestros-tips{
        background-color: rgb(211, 248, 156);
        color: rgb(255, 255, 255);
        .container{
            padding: 100px 12px 100px;
            h2{
                margin-bottom: 90px;
                padding-bottom: 30px;
                text-align: center;
                }
            }
        
        }

    #caracteristicas{
        .container{
            ul{
                text-align: initial;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .img-container{
                img{
                    width: 100%;
                    margin: 20px;
                }
            }
            
        }
    }
}






@media (max-width: 767px) {



    #caracteristicas{
        display: flex;
        flex-direction: column;
        .container{
            text-align: center;
            .img-container{
                margin: 0;
                padding: 0;
                img{
                    display: none;
                }
            }
            
            ul{
                padding: 0px;
                align-items: center;
                li{
                    margin: 12px 0px 0px;
                    font-weight: bold;
                }
            }
            }
        }
        
    #nutri-ye{
        display: flex;
        flex-direction: column;
        .contenedor{
            padding: 50px 20px;
            .img-container{
                margin: 0;
                padding: 0;
                img{
                    display: none;
                }
            }
            .textonu{
                display: flex;

                h2{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
            }
        }    
    
    }
    

@media (min-width: 768px) {

        #nutri-ye{
            .contenedor{
                grid-template-columns: 1fr 2fr;
                grid-area: auto;
                p{
                    font-size: 20px;
                }

            }
        }
        
    #caracteristicas{
        .container{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-area: auto;
        }
    }
}