.menu {
    background-color: rgb(211, 248, 156);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
        padding: 25px 30px 25px 0;
        font-weight: bold;
        font-size: 3em;
        color: rgb(94, 86, 16);

    }
    
    .fa-bars {
        display: none;
    }

    ul {
        text-align: end;
        list-style-type: none;
        margin: 20px 0 20px 0;
        

        li {
            display: inline;
            margin-right: 10px;
            margin-left: 10px;
            
            
            a {
                text-decoration: none;
                font-size: 30px;
                color: rgb(199, 160, 110);
                &:hover {
                    color: rgb(240, 230, 147);
                }
            }
        }
    }
    
}

@media (max-width: 767px) {
    
    .menu {
        .fa-bars {
            display: block;
            text-align: end;
            font-size: 50px;
            padding: 5px;
            margin: 32px 0;
            color: rgb(199, 160, 110)
        }
        ul {
            right: -350px;
            top: 0;
            position: fixed;
            background: antiquewhite;
            font-size: 50px;
            width: 250px;
            height: 100vh;
            z-index: 5;
            flex-direction: column;
            justify-content: start;
            transition: 0.5s;
        }
    }
    
    .menu .fa-bars:hover + ul {
        right: 0;
    }

    .menu ul:hover {
        right: 0;
    }
}